In [1]:
import pandas as pd

In [199]:
diabetic_data = pd.read_csv('diabetic_data.csv')

In [ ]:
# from pyspark.sql import SparkSession

# # Create a Spark session with configurations
# spark = SparkSession.builder \
#     .appName("MySparkApp") \
#     .config("spark.executor.memory", "4g") \  # Adjust as per your available resources
#     .config("spark.executor.cores", "4") \  # Adjust based on the number of available cores
#     .config("spark.executor.instances", "2") \  # Adjust based on the number of nodes in your cluster
#     .config("spark.driver.memory", "2g") \  # Adjust based on your available resources
#     .config("spark.sql.shuffle.partitions", "200") \  # Adjust based on the size of your data
#     .config("spark.default.parallelism", "200") \  # Adjust based on the number of tasks you want to run in parallel
#     .getOrCreate()

In [186]:
from pyspark.sql import SparkSession

# Create a Spark session with configurations
spark = (SparkSession.builder.appName("diabetic_app")
            .config("spark.executor.memory", "4g") 
            .config("spark.executor.cores", "4") 
            .config("spark.executor.instances", "2")
            .config("spark.driver.memory", "2g") 
            .config("spark.sql.shuffle.partitions", "200")
            .config("spark.default.parallelism", "200")
            .getOrCreate())

In [184]:
spark

In [137]:
diabetic_data.rename(columns={'encounter_id': 'admission_id'},inplace=True)

In [3]:
diabetic_data.shape

(101766, 50)

In [195]:
diabetic_data.head(1).to_dict()

{'admission_id': {0: 2278392},
 'patient_nbr': {0: 8222157},
 'race': {0: 'Caucasian'},
 'gender': {0: 'Female'},
 'age': {0: '[0-10)'},
 'weight': {0: '?'},
 'admission_type_id': {0: 6},
 'discharge_disposition_id': {0: 25},
 'admission_source_id': {0: 1},
 'time_in_hospital': {0: 1},
 'payer_code': {0: '?'},
 'medical_specialty': {0: 'Pediatrics-Endocrinology'},
 'num_lab_procedures': {0: 41},
 'num_procedures': {0: 0},
 'num_medications': {0: 1},
 'number_outpatient': {0: 0},
 'number_emergency': {0: 0},
 'number_inpatient': {0: 0},
 'diag_1': {0: '250.83'},
 'diag_2': {0: '?'},
 'diag_3': {0: '?'},
 'number_diagnoses': {0: 1},
 'max_glu_serum': {0: 'None'},
 'A1Cresult': {0: 'None'},
 'metformin': {0: 'No'},
 'repaglinide': {0: 'No'},
 'nateglinide': {0: 'No'},
 'chlorpropamide': {0: 'No'},
 'glimepiride': {0: 'No'},
 'acetohexamide': {0: 'No'},
 'glipizide': {0: 'No'},
 'glyburide': {0: 'No'},
 'tolbutamide': {0: 'No'},
 'pioglitazone': {0: 'No'},
 'rosiglitazone': {0: 'No'},
 'acarbose': {0: 'No'},
 'miglitol': {0: 'No'},
 'troglitazone': {0: 'No'},
 'tolazamide': {0: 'No'},
 'examide': {0: 'No'},
 'citoglipton': {0: 'No'},
 'insulin': {0: 'No'},
 'glyburide-metformin': {0: 'No'},
 'glipizide-metformin': {0: 'No'},
 'glimepiride-pioglitazone': {0: 'No'},
 'metformin-rosiglitazone': {0: 'No'},
 'metformin-pioglitazone': {0: 'No'},
 'other-generic-diabetes-med': {0: 'No'},
 'diabetesMed': {0: 'No'},
 'readmitted': {0: 'NO'}}

In [12]:
diabetic_data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

# Patients Data

In [16]:
patient_ids = diabetic_data['patient_nbr'].unique()

In [14]:
# patient data
patients = diabetic_data[['patient_nbr', 'race', 'gender', 'age', 'weight']]

In [18]:
from fake import Faker
def generate_fake_name(gender) -> str:
    fake = Faker()
    if gender == 'Female':
        return fake.name_female()
    
    elif gender == 'Male':
        return fake.name_male()

    else:
        return fake.name()

ModuleNotFoundError: No module named 'fake'

In [ ]:
# generate fake names
patient_names = []
for patient_id in patient_ids:
    # if patient_id in [record['id'] for record in patient_names]:
    #     # find patient_name if exists
    #     patient_name_found_by_patient_id = [record['name'] for record in patient_names if record['patient_id'] == patient_id][0]
    #     pass

    # get first result
    patient_gender = diabetic_data[diabetic_data['patient_nbr'] == patient_id]['gender']

    
    # check if any gender is found
    assert patient_gender.empty != True, f'Error: No gender found for patient number - {patient_id}'

    patient_gender = patient_gender[0]



    
    


    assert patient_gender

# Physician

In [80]:
medical_specialties = sorted(diabetic_data['medical_specialty'].unique().tolist())[1:]

In [81]:
medical_specialties[:3]

['AllergyandImmunology', 'Anesthesiology', 'Anesthesiology-Pediatric']

In [82]:
ids = [x+1 for x in range(len(medical_specialties))]

In [85]:
physician_dict = [{'id':k, 'physician_specialty': v} for k,v in dict(zip(ids, medical_specialties)).items()]

In [86]:
physician_dict[:3]

[{'id': 1, 'physician_specialty': 'AllergyandImmunology'},
 {'id': 2, 'physician_specialty': 'Anesthesiology'},
 {'id': 3, 'physician_specialty': 'Anesthesiology-Pediatric'}]

In [78]:
from pyspark.sql import Row

In [88]:
# Define the schema with specific column names
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("physician_specialty", StringType(), True)
])

In [89]:
# Convert the list of dictionaries to a list of Rows
rows = [Row(**item) for item in physician_dict]

In [90]:
# Create a DataFrame with the specified schema
physician_df_spark = spark.createDataFrame(rows, schema=schema)

# Show the DataFrame
physician_df_spark.show()

+---+--------------------+
| id| physician_specialty|
+---+--------------------+
|  1|AllergyandImmunology|
|  2|      Anesthesiology|
|  3|Anesthesiology-Pe...|
|  4|          Cardiology|
|  5|Cardiology-Pediatric|
|  6|             DCPTEAM|
|  7|           Dentistry|
|  8|         Dermatology|
|  9|    Emergency/Trauma|
| 10|       Endocrinology|
| 11|Endocrinology-Met...|
| 12|Family/GeneralPra...|
| 13|    Gastroenterology|
| 14|          Gynecology|
| 15|          Hematology|
| 16| Hematology/Oncology|
| 17|         Hospitalist|
| 18|  InfectiousDiseases|
| 19|    InternalMedicine|
| 20|          Nephrology|
+---+--------------------+
only showing top 20 rows

In [91]:
physician_df_spark.write.parquet('physician')

# Medication

In [27]:
diabetic_data.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [28]:
medication_columns = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
                      'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
                      'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
                      'tolazamide', 'examide', 'citoglipton', 'insulin',
                      'glyburide-metformin', 'glipizide-metformin',
                      'glimepiride-pioglitazone', 'metformin-rosiglitazone',
                      'metformin-pioglitazone', 'change', 'diabetesMed']

In [30]:
medication_columns[:5]

['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride']

In [4]:
medications = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
                      'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
                      'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
                      'tolazamide', 'examide', 'citoglipton', 'insulin',
                      'glyburide-metformin', 'glipizide-metformin',
                      'glimepiride-pioglitazone', 'metformin-rosiglitazone',
                      'metformin-pioglitazone']

In [5]:
medications = sorted(medications)

In [6]:
ids = [x+1 for x in range(len(medications))]

In [7]:
medication_dict = [{'id':k, 'medication_name': v} for k,v in dict(zip(ids, medications)).items()]

In [92]:
rows = [Row(**item) for item in medication_dict]

In [95]:
schema = StructType([
    StructField('id', IntegerType(), False),
    StructField('medication_name', StringType(), False)
])

In [96]:
medication = spark.createDataFrame(rows, schema)

In [97]:
medication.write.parquet('medication')

In [11]:
med_mapping = [{med['medication_name']:med['id']} for med in medication_dict]

In [42]:
med_mapping

[{'acarbose': 1},
 {'acetohexamide': 2},
 {'chlorpropamide': 3},
 {'citoglipton': 4},
 {'examide': 5},
 {'glimepiride': 6},
 {'glimepiride-pioglitazone': 7},
 {'glipizide': 8},
 {'glipizide-metformin': 9},
 {'glyburide': 10},
 {'glyburide-metformin': 11},
 {'insulin': 12},
 {'metformin': 13},
 {'metformin-pioglitazone': 14},
 {'metformin-rosiglitazone': 15},
 {'miglitol': 16},
 {'nateglinide': 17},
 {'pioglitazone': 18},
 {'repaglinide': 19},
 {'rosiglitazone': 20},
 {'tolazamide': 21},
 {'tolbutamide': 22},
 {'troglitazone': 23}]

In [12]:
first_record = diabetic_data[['encounter_id']+medications].iloc[0]

In [35]:
def med_lookup(med_name: str, med_mapping: list[dict]) -> str:
    for med_record in med_mapping:
#         print(med_record)
        med_id = med_record.get(med_name)
        if med_id is not None:
            return med_id
        else:
            pass
        
    return 'N/A'

In [38]:
med_lookup('glimepiride-pioglitazone', med_mapping)

7

In [41]:
['admission_id']+medications

['admission_id',
 'acarbose',
 'acetohexamide',
 'chlorpropamide',
 'citoglipton',
 'examide',
 'glimepiride',
 'glimepiride-pioglitazone',
 'glipizide',
 'glipizide-metformin',
 'glyburide',
 'glyburide-metformin',
 'insulin',
 'metformin',
 'metformin-pioglitazone',
 'metformin-rosiglitazone',
 'miglitol',
 'nateglinide',
 'pioglitazone',
 'repaglinide',
 'rosiglitazone',
 'tolazamide',
 'tolbutamide',
 'troglitazone']

In [170]:
def build_med_change_dict(record: pd.Series, med_dict: list[dict]) -> list[dict]:
    cols = ['admission_id']+medications
    record_dict = record.to_dict()
    meds_change_records = []
    for med in medications:
#         record_id += 1
        encounter_id = record_dict['admission_id']
        medication_id = list(med_lookup(med, med_dict).values())[0]
        change_status = record[med]
        meds_change_records.append({'admission_id': encounter_id, 'medication_id': medication_id, 'change_status': change_status})

    return meds_change_records

In [171]:
list(build_med_change_dict(diabetic_data.iloc[4], medication_dict))

[{'admission_id': 16680, 'medication_id': 1, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 2, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 3, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 4, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 5, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 6, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 7, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 8, 'change_status': 'Steady'},
 {'admission_id': 16680, 'medication_id': 9, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 10, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 11, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 12, 'change_status': 'Steady'},
 {'admission_id': 16680, 'medication_id': 13, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 14, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 15, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 16, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 17, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 18, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 19, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 20, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 21, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 22, 'change_status': 'No'},
 {'admission_id': 16680, 'medication_id': 23, 'change_status': 'No'}]

In [152]:
pd.DataFrame(build_med_change_dict(diabetic_data.iloc[4], medication_dict))

    admission_id  medication_id change_status
0          16680              1            No
1          16680              2            No
2          16680              3            No
3          16680              4            No
4          16680              5            No
5          16680              6            No
6          16680              7            No
7          16680              8        Steady
8          16680              9            No
9          16680             10            No
10         16680             11            No
11         16680             12        Steady
12         16680             13            No
13         16680             14            No
14         16680             15            No
15         16680             16            No
16         16680             17            No
17         16680             18            No
18         16680             19            No
19         16680             20            No
20         16680             21            No
21         16680             22            No
22         16680             23            No

# Medication Part 2

In [60]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import pandas_udf, explode
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType

In [40]:
diabetic_data_spark = spark.read.csv('diabetic_data.csv', header=True, inferSchema=True)

In [46]:
medications[:5]

['acarbose', 'acetohexamide', 'chlorpropamide', 'citoglipton', 'examide']

In [45]:
med_mapping[:5]

[{'acarbose': 1},
 {'acetohexamide': 2},
 {'chlorpropamide': 3},
 {'citoglipton': 4},
 {'examide': 5}]

In [48]:
diabetic_data_spark = diabetic_data_spark.withColumnRenamed('encounter_id', 'admission_id')

In [51]:
medication_columns = ['admission_id']+medications

In [70]:
# Define a user-defined function (UDF) to process each row
def build_med_change_dict(*cols):
    result = []
    admission_id = cols[0]
    for med_name, change_status in zip(medication_columns, cols[1:]):
        medication_id = med_lookup(med_name, med_mapping)
        result.append((admission_id, medication_id, change_status))
    return result

In [71]:
# Register the UDF
build_med_change_dict_udf = spark.udf.register("build_med_change_dict", build_med_change_dict, ArrayType(StructType([
    StructField("admission_id", StringType(), True),
    StructField("medication_id", StringType(), True),
    StructField("change_status", StringType(), True),
])))

23/12/22 14:57:07 WARN SimpleFunctionRegistry: The function build_med_change_dict replaced a previously registered function.

In [76]:
medication_data_spark = diabetic_data_spark.select(*medication_columns).withColumn("medication_data", explode(build_med_change_dict_udf(*medication_columns))).selectExpr("medication_data.*")

In [77]:
medication_data_spark.write.parquet('medication_change')

# Insurance

In [101]:
insurance_list = diabetic_data['payer_code'].unique()[1:].tolist()

In [115]:
payer_code_mapping = {
    'MC': 'Medicare',
    'MD': 'Medicaid',
    'HM': 'Health Maintenance Organization (HMO)',
    'UN': 'Unknown',
    'BC': 'Blue Cross Blue Shield',
    'SP': 'Self Pay',
    'CP': 'Commercial Payer',
    'SI': 'Medicare Advantage',
    'DM': 'Disease Management',
    'CM': 'Case Management',
    'CH': 'Children\'s Health Insurance Program (CHIP)',
    'PO': 'Point of Service',
    'WC': 'Workers Compensation',
    'OT': 'Other',
    'OG': 'Other Government',
    'MP': 'Medicare Part D',
    'FR': 'Federal Employee Program'
}

{'insurances': {'MC': 'Medicare',
  'MD': 'Medicaid',
  'HM': 'Health Maintenance Organization (HMO)',
  'UN': 'Unknown',
  'BC': 'Blue Cross Blue Shield',
  'SP': 'Self Pay',
  'CP': 'Commercial Payer',
  'SI': 'Medicare Advantage',
  'DM': 'Disease Management',
  'CM': 'Case Management',
  'CH': "Children's Health Insurance Program (CHIP)",
  'PO': 'Point of Service',
  'WC': 'Workers Compensation',
  'OT': 'Other',
  'OG': 'Other Government',
  'MP': 'Medicare Part D',
  'FR': 'Federal Employee Program'}}

In [102]:
ids = [x+1 for x in range(len(insurance_list))]

In [110]:
insurance_dict = dict(zip(ids, insurance_list))

In [116]:
insurance_list_dict = [{'id': k, 'insurance_cd': v, 'insurance_name': payer_code_mapping[v]} for k,v in insurance_dict.items()]

In [117]:
insurance_list_dict

[{'id': 1, 'insurance_cd': 'MC', 'insurance_name': 'Medicare'},
 {'id': 2, 'insurance_cd': 'MD', 'insurance_name': 'Medicaid'},
 {'id': 3,
  'insurance_cd': 'HM',
  'insurance_name': 'Health Maintenance Organization (HMO)'},
 {'id': 4, 'insurance_cd': 'UN', 'insurance_name': 'Unknown'},
 {'id': 5, 'insurance_cd': 'BC', 'insurance_name': 'Blue Cross Blue Shield'},
 {'id': 6, 'insurance_cd': 'SP', 'insurance_name': 'Self Pay'},
 {'id': 7, 'insurance_cd': 'CP', 'insurance_name': 'Commercial Payer'},
 {'id': 8, 'insurance_cd': 'SI', 'insurance_name': 'Medicare Advantage'},
 {'id': 9, 'insurance_cd': 'DM', 'insurance_name': 'Disease Management'},
 {'id': 10, 'insurance_cd': 'CM', 'insurance_name': 'Case Management'},
 {'id': 11,
  'insurance_cd': 'CH',
  'insurance_name': "Children's Health Insurance Program (CHIP)"},
 {'id': 12, 'insurance_cd': 'PO', 'insurance_name': 'Point of Service'},
 {'id': 13, 'insurance_cd': 'WC', 'insurance_name': 'Workers Compensation'},
 {'id': 14, 'insurance_cd': 'OT', 'insurance_name': 'Other'},
 {'id': 15, 'insurance_cd': 'OG', 'insurance_name': 'Other Government'},
 {'id': 16, 'insurance_cd': 'MP', 'insurance_name': 'Medicare Part D'},
 {'id': 17,
  'insurance_cd': 'FR',
  'insurance_name': 'Federal Employee Program'}]

In [120]:
schema = StructType([
    StructField('id', IntegerType(), False),
    StructField('insurance_cd', StringType(), False),
    StructField('insurance_name', StringType(), False)
])

rows = [Row(**item) for item in insurance_list_dict]

In [121]:
insurance_df_spark = spark.createDataFrame(rows, schema)

In [123]:
insurance_df_spark.write.parquet('insurance')

In [128]:
insurance_payor_json_file = {'insurances': payer_code_mapping }

In [125]:
file_path = 'payer_code_mapping.json'

In [126]:
import json

In [129]:
with open(file_path, 'w') as json_file:
    json.dump(insurance_payor_json_file, json_file)

# IDS mapping

In [147]:
# Read the CSV file into a pandas DataFrame
df = pd.read_csv('IDS_mapping.csv', header=None, skip_blank_lines=False, keep_default_na=False)

# Identify line breakers (',') in the DataFrame
line_breakers = df[df[0] == ""].index.tolist()

In [148]:
line_breakers

[9, 41]

In [158]:
# Separate the DataFrames based on line breakers (',')
df1 = df.iloc[:line_breakers[0], :].dropna(axis=1)

In [159]:
df2 = df.iloc[line_breakers[0]+1:line_breakers[1], :].dropna(axis=1)
df3 = df.iloc[line_breakers[1]+1:, :].dropna(axis=1)

In [160]:
df1

                   0              1
0  admission_type_id    description
1                  1      Emergency
2                  2         Urgent
3                  3       Elective
4                  4        Newborn
5                  5  Not Available
6                  6           NULL
7                  7  Trauma Center
8                  8     Not Mapped

In [161]:
# Use the first row as headers
df1.columns = df1.iloc[0]
df2.columns = df2.iloc[0]
df3.columns = df3.iloc[0]

# Drop the first row after using it as headers
df1 = df1.iloc[1:]
df2 = df2.iloc[1:]
df3 = df3.iloc[1:]

In [162]:
df1

0 admission_type_id    description
1                 1      Emergency
2                 2         Urgent
3                 3       Elective
4                 4        Newborn
5                 5  Not Available
6                 6           NULL
7                 7  Trauma Center
8                 8     Not Mapped

In [170]:
df2 = df2.reset_index(drop=True)

In [172]:
df3 = df3.reset_index(drop=True)

In [173]:
df3

42 admission_source_id                                        description
0                    1                                 Physician Referral
1                    2                                    Clinic Referral
2                    3                                       HMO Referral
3                    4                           Transfer from a hospital
4                    5     Transfer from a Skilled Nursing Facility (SNF)
5                    6         Transfer from another health care facility
6                    7                                     Emergency Room
7                    8                              Court/Law Enforcement
8                    9                                      Not Available
9                   10              Transfer from critial access hospital
10                  11                                    Normal Delivery
11                  12                                 Premature Delivery
12                  13                                          Sick Baby
13                  14                                   Extramural Birth
14                  15                                      Not Available
15                  17                                               NULL
16                  18           Transfer From Another Home Health Agency
17                  19             Readmission to Same Home Health Agency
18                  20                                         Not Mapped
19                  21                                    Unknown/Invalid
20                  22   Transfer from hospital inpt/same fac reslt in...
21                  23                          Born inside this hospital
22                  24                         Born outside this hospital
23                  25            Transfer from Ambulatory Surgery Center
24                  26                              Transfer from Hospice

In [175]:
df1.to_csv('admission_type_id.csv', index=False)

In [177]:
df2.to_csv('discharge_disposition_id.csv', index=False)

In [179]:
df3.to_csv('admission_source_id.csv', index=False)

In [187]:
spark.createDataFrame(df1).write.parquet('admission_type')
spark.createDataFrame(df2).write.parquet('discharge_disposition')
spark.createDataFrame(df3).write.parquet('admission_source')

# Diagnosis

In [180]:
diabetic_data[['diag_1', 'diag_2', 'diag_3']]

        diag_1  diag_2 diag_3
0       250.83       ?      ?
1          276  250.01    255
2          648     250    V27
3            8  250.43    403
4          197     157    250
...        ...     ...    ...
101761  250.13     291    458
101762     560     276    787
101763      38     590    296
101764     996     285    998
101765     530     530    787

[101766 rows x 3 columns]

In [219]:
def format_icd9(word: str):
    if '.' in str(word):
        return str(word).split(".")[0].zfill(3) + '.' + str(word).split(".")[1]
    else:
        if word>3:
            return word
        else:
            return str(word).zfill(3)

In [211]:
diabetic_data['diag_1'] = diabetic_data['diag_1'].apply(
    lambda x: replace_decimal_icd9(x)
)
diabetic_data['diag_2'] = diabetic_data['diag_2'].apply(
    lambda x: replace_decimal_icd9(x)
)
diabetic_data['diag_3'] = diabetic_data['diag_3'].apply(
    lambda x: replace_decimal_icd9(x)
)

In [212]:
from icd9_codes.icd9 import ICD9

In [213]:
tree = ICD9('icd9_codes/codes.json')

In [214]:
tree.find(diabetic_data['diag_1'][0])

In [218]:
tree.find('250.81')

In [215]:
diabetic_data['diag_1'][0]

'250.83'

In [220]:
def get_icd_code(code):
    icd_code = tree.find(code)
    if icd_code is None:
        icd_code = icd_code[len(icd_code)-1:]
        if icd_code is None: return None
        return icd_code.code
    
    return icd_code.code

In [233]:
def get_icd_description(code):
    icd_code = tree.find(code)
    if icd_code is None:
        code = code[:len(code)-1]
        icd_code = tree.find(code)
        if icd_code is None: return None
        return icd_code.description
    
    return icd_code.description

In [226]:
diabetic_data['diag_1'][:50].apply(lambda x: get_icd_description(x))

0                                                  None
1     Disorders of fluid, electrolyte, and acid-base...
2     Other current conditions in the mother classif...
3          Intestinal infections due to other organisms
4     Secondary malignant neoplasm of respiratory an...
5         Other forms of chronic ischemic heart disease
6         Other forms of chronic ischemic heart disease
7                                         Heart failure
8                         Other rheumatic heart disease
9                        Occlusion of cerebral arteries
10       Diabetes with peripheral circulatory disorders
11                       Malignant neoplasm of pancreas
12                                        Heart failure
13                                        Heart failure
14                               Other diseases of lung
15    Complications of medical care, not elsewhere c...
16                          Acute myocardial infarction
17                         Other cellulitis and abscess
18                           Hypertensive heart disease
19                                   Curvature of spine
20                          Acute myocardial infarction
21    Liver abscess and sequelae of chronic liver di...
22                          Acute myocardial infarction
23      Care involving use of rehabilitation procedures
24    Malignant neoplasm of kidney and other and uns...
25    Symptoms involving respiratory system and othe...
26                                 Cardiac dysrhythmias
27    Complications peculiar to certain specified pr...
28        Other and unspecified disorders of metabolism
29                                        Heart failure
30                                  Acute renal failure
31                                    Acute pharyngitis
32    Complications peculiar to certain specified pr...
33                                    Chronic sinusitis
34                                        Heart failure
35    Other acute and subacute forms of ischemic hea...
36                  Malignant neoplasm of female breast
37                      Pneumonia, organism unspecified
38               Other complications of procedures, NEC
39    Complications peculiar to certain specified pr...
40        Other forms of chronic ischemic heart disease
41                                             Pleurisy
42      Care involving use of rehabilitation procedures
43                                        Heart failure
44        Other and unspecified intracranial hemorrhage
45    Disorders of menstruation and other abnormal b...
46                                        Heart failure
47                              Schizophrenic disorders
48        Other forms of chronic ischemic heart disease
49                                        Heart failure
Name: diag_1, dtype: object

In [234]:
get_icd_description_udf = spark.udf.register('get_icd_description', get_icd_description, StringType())

23/12/22 19:35:54 WARN SimpleFunctionRegistry: The function get_icd_description replaced a previously registered function.

In [228]:
diabetic_data_spark2 = spark.createDataFrame(diabetic_data)

In [236]:
diabetic_data_spark2 = diabetic_data_spark2.withColumn('diag_1_description', get_icd_description_udf('diag_1'))
diabetic_data_spark2 = diabetic_data_spark2.withColumn('diag_2_description', get_icd_description_udf('diag_2'))
diabetic_data_spark2 = diabetic_data_spark2.withColumn('diag_3_description', get_icd_description_udf('diag_3'))

In [237]:
diabetic_data_spark2.columns

['encounter_id',
 'patient_nbr',
 'race',
 'gender',
 'age',
 'weight',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'payer_code',
 'medical_specialty',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'diag_1',
 'diag_2',
 'diag_3',
 'number_diagnoses',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed',
 'readmitted',
 'diag_1_description',
 'diag_2_description',
 'diag_3_description']

In [76]:
medication_data_spark = diabetic_data_spark.select(*medication_columns).withColumn("medication_data", explode(build_med_change_dict_udf(*medication_columns))).selectExpr("medication_data.*")

In [183]:
# spark.stop()

In [ ]:
diabetic_data_spark2

In [239]:
diagnosis_spark_df = (
    diabetic_data_spark2.selectExpr("diag_1 as diag", "diag_1_description as diag_description")
    .union(diabetic_data_spark2.selectExpr("diag_2 as diag", "diag_2_description as diag_description"))
    .union(diabetic_data_spark2.selectExpr("diag_3 as diag", "diag_3_description as diag_description"))
)

In [242]:
diagnosis_spark_df.count()

305298

In [243]:
diagnosis_spark_df = diagnosis_spark_df.dropDuplicates(["diag", "diag_description"])

In [244]:
diagnosis_spark_df.count()

23/12/22 19:54:22 WARN DAGScheduler: Broadcasting large task binary with size 1012.6 KiB
23/12/22 20:10:49 WARN DAGScheduler: Broadcasting large task binary with size 1018.9 KiB

916

In [245]:
diagnosis_spark_df.write.parquet('diagnosis')

23/12/22 20:11:08 WARN DAGScheduler: Broadcasting large task binary with size 1012.6 KiB
23/12/22 20:25:48 WARN DAGScheduler: Broadcasting large task binary with size 1216.6 KiB

In [246]:
spark.stop()

# Admiss